@font-face {
    font-family: Renner;
    src: url(fonts/Renner_400_Book.ttf);
}

@font-face {
    font-family: VeraSerif;
    src: url(fonts/VeraSerif.ttf);
}

body {
    font-family: Renner;
}

h1,h2,h3,h4,h5 {
    font-family: VeraSerif;
}
